.track {
    background-color: $color-green-light;
    grid-column: center-start / center-end;
    padding-left: 3rem;
    padding-top: 4rem;
    z-index: -2;
  }
  
  .tracker {
    font-size: 3rem;
    font-weight: 700;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
  }
  
  .ordersummary {
    background-color: $color-green-dark;
    grid-column: center-start / center-end;
    padding-left: 3rem;
    padding-top: 4rem;
    display: grid;
    justify-items: center; //for centering items justifycontent : center aand                                    //alignitems:center
  }
  
  .progressbar {
    width: 100%;
    counter-reset: step;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    
  }
  
  .progressbar li {
    
    list-style-type: none;
    float: left;
    width: 100px;
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #546A79;
    /* Steps*/
  }
  
  .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 44px;
    height: 44px;
    line-height: 44px;
    /* border: 4px solid #fff; */
    display: block;
    text-align: center;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    background-color: #E3E3E3;
    /* Circles*/
  }
  
  .progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #E3E3E3;
    /*lines */
    top: 20px;
    left: -50%;
    z-index: -1;
  }
  
  .progressbar li:first-child:after {
    content: none;
  }
  
  .progressbar li.active {
    color: #546A79;
  }
  
  .progressbar li.active:before {
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 50%;
    border-color: #0073CF;
    color: white;
    background-color: #0073CF;
    margin: 0 auto 16px auto;
  }
  
  /* this is where the change is just added .active class to li:after */
  
  .progressbar li.active+li.active:after {
    background-color: #0073CF;
  }
  
  button {
    position: relative;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 2px;
    left: 50%;
    margin-top: 30px;
    transform: translate(-50%);
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .summary {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    font-size: 3rem;
  
    &__header {
      background-color: #0073CF;
    }
  
    &__content {
      display: grid;
      grid-template-columns: repeat(13, max-content);
      grid-column-gap: 2rem;
      font-size: 2rem;
      
    }
    &__quantity {
      grid-column: 12 / 13;
    }
    &__price {
      grid-column: 13 / 14;
    }
  }