/* GRID LAYOUTS
   ========================================================================== */
.container {
    
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 22rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    &--location {
        grid-template-rows: [navbar-start] 7rem [navbar-end] 100vh repeat(3, min-content);
    }
    &--menu {
        grid-template-rows: [navbar-start] 7rem [navbar-end] 6.5rem repeat(2, min-content);
    }
    &--review {
        grid-template-rows: [navbar-start] 7rem [navbar-end] repeat(3, min-content);
    }
    &--track {
        grid-template-rows: [navbar-start] 7rem [navbar-end] repeat(3, min-content);
    }
}