
/* NAVBAR
   ========================================================================== */
.navbar {
    background-color: $color-brown;
    grid-column: full-start / full-end;
    grid-row: navbar-start / navbar-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    padding: 0 0 0 7rem;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 8rem;

    &__navtitle{
        display: grid;
        grid-template-columns: max-content;
        align-items: center;
    }
    

    &__rightnav {
        font-size: 1.3rem;
        display: grid;
        grid-template-columns: repeat(4,min-content);
        align-content: end;
        grid-gap: 2rem;
        text-transform: uppercase;
    }

    &__item {
        border: 2px solid rgba(100, 43, 46, 0.87);
        padding: 1.2rem 1rem;
        border-bottom: 0;
        display:grid;
        grid-template-columns: max-content max-content;
        align-items: center;
        grid-column-gap: 3rem;
    }

    &__location {
        grid-column: 1 / 2;
    }
    &__menu {
        grid-column: 2 / 3;
    }
    &__review {
        grid-column: 3 / 4;
    }
    &__track {
        grid-column: 4 / 5;
    }
    &--active, &--btn:hover {
        background-color: $color-red;
        color: rgb(255, 240, 240);
        transition: 0.2s;
        cursor: pointer;
    }

    
}


.header_menu {
    background-color: $color-red;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: max-content;
    font-size: 2rem;
    font-weight: 600;
    
    &__categories {
        display: grid;
        grid-template-columns: repeat(6,max-content);
        margin-left: 6rem;
        align-items: center;
        grid-column-gap: 1.5rem;
        align-items: end;
    }

}


.cat {
    border-bottom: 0;
    padding: 1.7rem 1rem;
    background-color: #A63125;
}


